<div class="container mt-4">
  <h2 class="mb-4">Compra Finalizada</h2>

  <p class="mb-4">Parabéns, {{usuario}}, sua compra foi realizada com sucesso!</p>

  <div>
    <a href="/" class="btn btn-secondary">Voltar</a>
  </div>
</div>
